img.fbsaver-save-button {
    height: 13px;
    position: relative;
    top: 1px;
    left: 9px;
    cursor: pointer;
}
img.download-button {
    position: fixed;
    bottom: 4px;
    right: 60px;
    cursor: pointer;
}